:root {
    --primary-color: #DAF0EE;
    --secondary-color: #FFFFFF;

    --accent-color-1: #9DB5B2;
    --accent-color-2: #94D1BE;

    --background-color: #3B413C;

    --header-font: Verdana;
    --paragraph-font: Trebuchet;
}